<!DOCTYPE HTML>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %} SF3 NETWORK {% endblock %}
        </title>

        {% block stylesheets %} 
           <link href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
           <link href="{{ asset('assets/css/bootstrap.cosmo.min.css') }}" type="text/css" rel="stylesheet" />
           <link href="{{ asset('assets/css/styles.css') }}" type="text/css" rel="stylesheet" />
        {% endblock %}
            
        {% block javascripts %} 
            <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
            <script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </head>
    <body>
        <header>
            <h1>SOCIAL NETWORK</h1>
        </header>
        <section id="content">
            {% block content %}
                Content default
            {% endblock %}
        </section>
        <footer>
            <hr/>
            <p>Desarrollar una red social con Symfony 3 - JlFerrete</p>
        </footer>
    </body>
</html>

